<div layout="vertical" layout-fill>
    <header ng-include="'components/navbar/navbar.html'"></header>
    <md-content layout="row" layout-padding style="min-height: 300px;">
        <section>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros eget elit mattis fermentum. Vestibulum a urna sapien. Donec egestas orci in leo dignissim, at gravida nisl facilisis.</p>
        </section>
    </md-content>
    <div ng-controller="AppCtrl" layout="column" layout-fill>
        <section layout="row" flex>

            <md-content flex class="md-padding">
                <div layout="column" layout-fill layout-align="center center">
                    <div>
                        <md-button ng-click="toggleRight()" class="md-primary">
                        Toggle right
                        </md-button>
                    </div>
                </div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
              </md-toolbar>
              <md-content ng-controller="RightCtrl" class="md-padding">
                <md-button ng-click="close()" class="md-primary">
                  Close Sidenav Right
                </md-button>
              </md-content>
            </md-sidenav>
        </section>
</div>

    <footer ng-include="'components/footer/footer.html'"></footer>

</div>



