<md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right" >
    <md-button class="md-fab" id="sidenav-close" aria-label="sidenav close button" ng-controller="RightCtrl" ng-click="close()">
        <md-icon icon="assets/images/icons/navigation/ic_close_36px.svg" style="width: 36px; height: 36px;" id="top-nav-svg"></md-icon>
        <!-- CLOSE -->
    </md-button>
</md-sidenav>
