<div layout="vertical" layout-fill>
    <header ng-include="'components/navbar/navbar.html'"></header>

    <div ng-include="'components/sidenav/sidenav.html'"></div>
    <md-content>
        <section class="jumbotron">
            <h1 id="mainHeading">{{message}}</h1>
            <md-subheader>subtitle?</md-subheader>
            <md-card  flex-sm="90" flex-md="70" class="banner-img-card">
                <img class="md-card-image" src="http://placehold.it/640x240/fff.png/eee&text=LARGE+IMAGE" alt="banner image"><br>
            </md-card>
            <p>&nbsp;</p>
        </section>
        <div hide show-sm>
            <div layout="row" layout-align="center" class="featured-products">
                <md-card ng-repeat="project in featuredProjects" ng-click="dialogNoForm($event)">
                    <img src="{{project.image}}" alt="{{project.title}}" class="md-card-image">
                    <h3>{{project.title}}</h3>
                    <p>{{project.desc}}</p>
                </md-card>
            </div>
        </div>
        <section layout-padding>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eros eget elit mattis fermentum. Vestibulum a urna sapien. Donec egestas orci in leo dignissim, at gravida nisl facilisis. Etiam laoreet porttitor nisi, in porta enim consectetur eget. Nulla dignissim dictum tempor. Nunc vitae sapien elit. Morbi egestas, enim a mollis tincidunt, massa purus consequat ligula, faucibus pharetra sem urna in mi. Aliquam erat volutpat. Donec dignissim est et egestas faucibus. Sed mattis scelerisque ornare. Suspendisse elit erat, laoreet cursus ipsum vel, dapibus tempus dolor. Sed fringilla malesuada nisi eu convallis. Sed id lorem at felis venenatis ullamcorper. In hac habitasse platea dictumst. Nam condimentum consectetur aliquet. Mauris facilisis ipsum non libero vulputate, sed laoreet quam varius.</p>
            <p>Sed sit amet dui ac mi consequat eleifend. Mauris dictum viverra tempor. Morbi consequat neque id metus auctor aliquet. Nullam tincidunt pulvinar sapien ac consequat. Nam magna mauris, molestie eu sem vitae, aliquet semper nisi. Mauris turpis purus, hendrerit et blandit ut, pulvinar auctor lectus. Vestibulum pulvinar, quam sit amet fermentum ultrices, ligula magna tempus enim, non tempor turpis quam eu tellus. Nam ac diam eleifend, porttitor nisi sit amet, iaculis libero. Phasellus convallis elementum massa, et ornare augue interdum in. Sed sagittis turpis dui, a dictum arcu varius at. Aliquam massa justo, consectetur quis tempus luctus, fermentum ut nunc. Donec luctus hendrerit euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ultrices viverra nunc in imperdiet. Fusce eget est nibh.</p>
        </section>
    </md-content>

    <footer ng-include="'components/footer/footer.html'"></footer>

</div>

<!-- FORM INTEGRATION -->
<!-- script type="text/javascript" src="https://bitrix24.d-it.ru/forms/js/iframe.js?v2" charset="utf-8"></script><script type="text/javascript">window.onload = function () {window.B24Form.initForms();}</script>
-->
<!-- <div id="b24formdiv_feca4b756fb93a8ce2087c2fb67e4de3" class="b24formdiv"></div> -->


