@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

$lime: #76FF03;
$qd-red: #ED1C24;

html {
  // font-family: 'Roboto Slab', serif;
  font-family: 'Lato', serif;
}

#mainContent {
  min-height: 500px;
}

.md-subheader.md-default-theme{
  background-color: transparent !important;
  font-size: 1.25em;
  font-weight: 300;
  color: #fff;
}

header {
  font-weight: 300;
  font-size: 0.8em;
}

#top-nav {
    font-size: 1.5em !important;
    height: 70px;

    #logo {
        width:14em;
        margin-top: 5px;
    }

    #main-nav-button {
        background-color: $qd-red;
        position:fixed;
        top: 8px;
        right: 10px;
    }
}

#sidenav-close {
    margin: 10px;
    font-size: 0.8em;
    float: right;
}

[layout=row] {
    flex-direction: row;
}

#mainHeading {
    text-transform: uppercase;
    font-weight: 300;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

md-toolbar.md-default-theme {
  background-color: #444;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;
  color: white;
}

.techs {
    display: flex;
    flex-flow: row wrap;

    md-card {
        width: 30%;

        img.pull-right {
            float: right;
            width: 50px;
        }
    }
}

.button-small {
    font-size: 0.75em !important;
}
// injector
// endinjector

footer {
    font-size: 0.9em
}


.featured-products {
    md-card {
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            color: #222;
        }
    }
}

.banner-img-card {
    background-color: #fff;
    margin: 10px auto 0;
    img {
        max-width: 100%;
        background: #fff;
    }
}

#footer-social-links {
    md-button {
        height: 36px;
        width: 36px;
        background: $qd-red;
        margin-left: 5px;
        margin-right: 5px;

        .fa {
            // font-size: 1em;
            &:before {
                margin-top:-5px;
            }
        }
    }
}

