<div controller="NavbarCtrl">
    <div layout-fill>
        <md-toolbar id="top-nav">
            <div class="md-toolbar-tools" >
                <!-- <span>Qumani Designs</span> -->
                <img ng-src="assets/images/qdLogo2015.svg" alt="" id="logo" >
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <div ng-controller="AppCtrl">
                    <md-button class="md-fab" id="main-nav-button" aria-label="New document" ng-click="toggleRight()">
                        <md-icon icon="assets/images/icons/navigation/ic_menu_36px.svg" style="width: 36px; height: 36px;" id="top-nav-svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </div>
</div>
