<md-toolbar layout="row" layout-align="start center">
    <md-button ng-disabled="true" class="md-primary button-small">&copy; 2015</md-button><md-button class="md-warn button-small">Qumani Designs</md-button>
    <!-- <md-button class="md-fab" id="main-nav-button" aria-label="New document">
        <md-icon icon="assets/images/icons/navigation/ic_menu_18px.svg" style="width: 18px; height: 18px;"></md-icon>
    </md-button> -->
    <section layout-align="end center" id="footer-social-links" flex="" layout="">
        <md-button class="md-fab" aria-label="Time">
            <i class="fa fa-bitbucket"></i>
        </md-button>
      <md-button class="md-fab md-primary" aria-label="New document">
        <i class="fa fa-google-plus"></i>
      </md-button>
    </section>
</md-toolbar>
